<body>
    <header class="hero-chart">
        <h1>BIG3</h1>
    </header>

<div class="wrapper-chart">

    <div class="container">
        <div class="row">
        <p>
        Ice Cube's 3-on-3 basketball league has two ownership options, totaling 1,000 editions - 25 Fire priced at $25,000 each, and 975 Gold priced at $5,000 each.
        </p>
        </div>
    </div>

<div class="chartCard">
    <div class="chartBox">
        {{!-- <section class="logo-chart">
            <img src="/img/big 3.png">
        </section>  --}}
        <canvas id="myChart"></canvas>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/big3-chart.js"></script>
<script src="/js/logout.js"></script>
