<head>
        <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
<header>
    <h1 class="tagline">Invest in your Team</h1>
</header> 
<div class="container">
    <div class="row logo-row">
        <div class="col nfl-col">
                <img src="/img/nfl logo.png">
        </div>
        <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Major_League_Baseball_logo.svg/200px-Major_League_Baseball_logo.svg.png">
        </div>
    </div>
    <div class="row logo-row">
        <div class="col">
                <img src="/img/wnba 2.png">
        </div>
        <div class="col">
                <img src="/img/big 3.png"> 

        </div>
    </div>
</div>
</body>

{{!-- <div class="chartCard">
    <div class="chartBox">
        <canvas id="myChart"></canvas>
    </div>
</div> --}}

{{!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/big3-chart.js"></script>
<script src="/js/logout.js"></script> --}}
