<head>
    <link rel="stylesheet" href="./public/css/style.css">
</head>

<body class="homepage">
    <header>
        <h1 class="tagline">Invest in your Team</h1>
    </header>
    <div class="container">
        <div class="row logo-row">
            <div class="col nfl-col">
                <a href="/league/nflchart"><img src="/img/nfl logo.png" alt="NFL logo"></a>
            </div>
            <div class="col">
                <a href="/leaguemlbchart"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Major_League_Baseball_logo.svg/200px-Major_League_Baseball_logo.svg.png" alt="MLB logo"></a>
            </div>
        </div>
        <div class="row logo-row">
            <div class="col">
                <a href="/league/wnbachart"><img src="/img/wnba 2.png" alt="WNBA logo"></a>
            </div>
            <div class="col">
                <a href="/league/big3chart"><img src="/img/big 3.png" alt="BIG3 logo"></a>

            </div>
        </div>
    </div>
</body>

{{!-- <div class="chartCard">
    <div class="chartBox">
        <canvas id="myChart"></canvas>
    </div>
</div> --}}

{{!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/big3-chart.js"></script>
<script src="/js/logout.js"></script> --}}
