<body>
    <header class="hero">
        <h1 class="tagline">Own Your Team</h1>
    </header>
    <div class="hero-image">
        <div class="text-block">
            <span class="h2">Buy a minority-ownership stake.</span>
            <br>
            <ul>
                <li>Research ownership opportunities</li>
                <li>Achieve your financial goals</li>
                <li>Be involved with your passion</li>
            </ul>
            <span class="h3">Did you know?</span>
            <br>
            According to <a
                href="https://www.forbes.com/sites/mikeozanian/2021/05/07/worlds-most-valuable-sports-teams-2021/?sh=25d355e73e9e">Forbes</a>,
            the average value of the 50 most valuable sports teams jumped 9.9% from 2020 to 2021, up 55%
            from <a
                href="https://www.forbes.com/sites/kurtbadenhausen/2016/07/13/dallas-cowboys-head-the-worlds-50-most-valuable-sports-teams-of-2016/?sh=6135bae8f330">five
                years prior</a>.
        </div>
    </div>

    <div class="home-container">
        <div class="row flex-container">
            <div class="col home-logo">
                <a href="/league/nflchart"><img src="/img/nfl logo.png" alt="NFL logo"></a>
            </div>
            <div class="col home-logo">
                <a href="/league/mlbchart"><img src="/img/Major_League_Baseball_logo.svg.png" alt="MLB logo"></a>
            </div>
            <div class="col home-logo">
                <a href="/league/wnbachart"><img src="/img/wnba 2.png" alt="WNBA logo"></a>
            </div>
            <div class="col home-logo">
                <a href="/league/big3chart"><img src="/img/big 3.png" alt="BIG3 logo"></a>
            </div>
        </div>
    </div>


    {{!-- <div>
        <span class="h4">Additional Perks May Include:</span>
        <ul>
            <li>
                Seats in the luxury box
            </li>
            <li>
                Meet players
            </li>
            <li>
                On-field access
            </li>
            <li>
                Free tickets
            </li>
            <li>
                and more
            </li>
        </ul>
    </div> --}}
</body>