<head>
      <link rel="stylesheet" href="./public/css/style.css">
</head>

<body class="homepage">
    <header class="own-your-team animate__bounceInLeft">
        <h1 class="select-league">Own Your Team</h1>
    </header>

    <div class="home-container">

        <div class="row">
            <div class="col home-logo">
                <a href="/league/nflchart"><img src="/img/nfl logo.png" alt="NFL logo"></a>
                <br>
                <a href="/league/mlbchart"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Major_League_Baseball_logo.svg/200px-Major_League_Baseball_logo.svg.png" alt="MLB logo"></a>
                <br>
                <a href="/league/wnbachart"><img src="/img/wnba 2.png" alt="WNBA logo"></a>
                <br>
                <a href="/league/big3chart"><img src="/img/big 3.png" alt="BIG3 logo"></a>
            </div>
            <div class="col-9 home-info">
                {{! image below placed in css}}
                {{!-- <img src="/img/Cheering-in-box.jpg" alt="fans cheering in box"> --}}
                <div class="text-block">
                    <span class="h2">Buy a minority-ownership stake.</span>
                <br>
                <ul>
                    <li>
                        Research ownership opportunities
                    </li>
                    <li>
                        Achieve your financial goals 
                    </li>
                    <li>
                        Be involved with your passion
                    </li>
                </ul>
                <span class="h3">Did you know?</span>
                <br>
                According to <a href="https://www.forbes.com/sites/mikeozanian/2021/05/07/worlds-most-valuable-sports-teams-2021/?sh=25d355e73e9e">Forbes</a>, the average value of the 50 most valuable sports teams jumped 9.9% from 2020 to 2021, up 55% from <a href="https://www.forbes.com/sites/kurtbadenhausen/2016/07/13/dallas-cowboys-head-the-worlds-50-most-valuable-sports-teams-of-2016/?sh=6135bae8f330">five years prior</a>.
                </div>
            </div>
        </div>
    </div>
    {{!-- <div>
        <span class="h4">Additional Perks May Include:</span>
                <ul>
                    <li>
                        Seats in the luxury box
                    </li>
                    <li>
                        Meet players 
                    </li>
                    <li>
                        On-field access
                    </li>
                    <li>
                        Free tickets
                    </li>
                    <li>
                        and more
                    </li>
                </ul>
    </div> --}}
    <script src="js/main.js"></script>
</body>


