<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Homepage</a>
                <a class="nav-link" href="/dashboard">Dashboard</a>
                <a href="mlb-chart.html"><img src="/img/Major_League_Baseball_logo.svg.png" alt='HTML Home' width="100"
                        height="48"></a>
                <a href="nfl-chart.html"><img src="/img/nfl logo.png" alt='HTML Home' width="100" height="48"></a>
                <a href="wnba-chart.html"><img src="/img/wnba 2.png" alt='HTML Home' width="100" height="48"></a>
                <a href="big3-chart.html"><img src="/img/big 3.png" alt='HTML Home' width="100" height="48"></a>
                <button id="logout" class="btn-no-style">Logout</button>
            </div>
        </div>
    </div>
</nav>