<section>
    <img src="/img/Major_League_Baseball_logo.svg.png" width="500" height="150" class="animate__bounceInLeft">
</section> 

<div class="chartCard">
    <div class="chartBox">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/mlb-chart.js"></script>
<script src="/js/logout.js"></script>