{{!-- <div class="container"> --}}
{{!-- <body class="chart-background"> --}}
<header class="chart-header">
</header>

{{!-- <div class="row logo-background">
    <section class="logo-chart">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Major_League_Baseball_logo.svg/200px-Major_League_Baseball_logo.svg.png">
    </section>
</div>  --}}

{{!-- <div class="row chart-background"> --}}
    <div class="chartCard">
        <div class="chartBox">
            <section class="logo-chart">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Major_League_Baseball_logo.svg/200px-Major_League_Baseball_logo.svg.png">
            </section>
            <canvas id="myChart"></canvas>
        </div>
    </div>
{{!-- </div> --}}

{{!-- </div> --}}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/mlb-chart.js"></script>
<script src="/js/logout.js"></script>

{{!-- <body> --}}