<div class="card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="new-post-title" name="post-title" class="form-input" />

        <label class="form-label" for="content">Content</label>
        <input id="new-post-content" name="content" class="form-input" />

        <button type="submit" id="new-post-create" class="btn">Create</button>
    </form>
</div>

