<body>
    <header class="hero-chart">
        <h1>NFL</h1>
    </header>

<div class="wrapper-chart">

    <div class="container">
        <div class="row">
            <p>
                The NFL's current ownership policy was established in the 1980s. It stipulates a maximum of 32 owners
                per team, with one holding a minimum 30% stake. The policy is also unique in that it requires all owners
                to be individuals; corporations and partnerships are not allowed. Due to these factors, NFL team
                ownership stakes usually require a larger minimum investment than other sports leagues.
            </p>
        </div>
    </div>

    <div class="chartCard">
        <div class="chartBox">
            {{!-- <section class="logo-chart">
                <img src="/img/nfl logo.png">
            </section> --}}
            <canvas id="myChart"></canvas>
        </div>
    </div>

    
</div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/nfl-chart.js"></script>
    <script src="/js/logout.js"></script>
</body>