/* for the chart*/
.chartCard {
    width: 60vw;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    position: relative;
    left: 18.5%;
    bottom: 135px
  }
  .chartBox {
    width: 100%;    
    padding: 20px;
    border-radius: 20px;
    border: solid 3px;
    background: transparent;
  }

  .animate__bounceInLeft{
    animation-duration: 2.3s;
    position: relative;
    left: 35%;
}

.Goal{
  font-size: 65px;;
  font-weight: 800;
  color: darkblue;
}

.Post{
  font-size: 65px;
  font-weight: 800;
  color: red;

}