:root {
  --primary-color: #202030;
  --secondary-color: slategray;
  --tertiary-color: #d7fff6;
  --lighter-color: white;
  --darker-color: #060608;
  --border-radius-color: 0.3rem;
}

* {
  box-sizing: border-box;
}

.text-block a {
  color: var(--tertiary-color);
}

.home-container {
  /* display: flex; */
  /* flex-wrap: wrap; */
  background-color: var(--secondary-color);
}

@media screen and (min-width:768px) {
  .home-container {
  padding-left: 25px;
  padding-right: 25px;
  }
}

.chart-header {
  padding: 50px;
}

.home-info {
  /* display: flex;
  flex-wrap: wrap; */
  /* background-image: url("/img/Cheering-in-box.jpg"); */
  /* background-size: cover; */
  position: relative;
}

.text-block {
  position: absolute;
  width: 600px;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.home-logo {
background-color: white;
padding: 30px;
/* align-items: center; */
}

.logo-background {
  background-color: white;
}

.nav-link {
  color: var(--primary-color);
  font-size: 150%;
  font-weight: 600;
  font-family: serif;
}



.logo {
  height: 80px;
}
/* .chart-background {
  background-color: rgba(0, 0, 0, 0.5);
} */

.hero-image {
  background-image: url("/w3images/photographer.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* .login-logout-container {
  display: flex;
  align-items: flex-end; */
  /* border-bottom: solid var(--primary-color); */
/* } */

.nav-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* background-color: var(--tertiary);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4); */
}

.navbar {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  background-color: var(--lighter-color);
}

/* @media screen and (max-width: 980px) {
.nav-container {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  .nav-container nav {
    justify-content: center;
  }

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

.nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

.nav a:last-child {
  margin-right: 0;
} */

/* .login-logout {
  align-items: flex-end;
  align-items: right;
}  */

.select-league {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: serif;
  color: slategray;
  font-weight: bold;
}

.tagline {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  /* font-family: serif; */
  color: var(--lighter-color);
  font-weight: normal;
}

.logo-row {
  /* display: flex;
  justify-content: center; */
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 50px;
  align-items: center;
}

.logo-chart {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* align-items: center; */
  /* padding-left: 500px; */
}

.nfl-col {
  align-items: right;
  padding-left: 110px;
}

/* Sets standing opacity for image links */
.col img:hover{
  opacity: .5;
}

/* Maximizes opacity on hover over image links */
.col img {
  opacity: 1;
}

header {
  height: 70px;
  /* width: 100%; */
  /* border-bottom: 10px solid var(--primary-color); */
}

h1.goalpost1 {
  font-family: serif;
  font-size: 60px;;
  color: slategray;
  font-weight: 600;
  background-color: var(--primary-color);
}

footer {
  /* position: absolute; */
  position: relative;
  width:100%;
  bottom: 0;
  height: 200px;
  background-color: var(--primary-color);
  text-align: center;
}

h4.goalpost2 {
  font-size: 30px;
  font-family: serif;
  color: var(--secondary-color);
  font-weight: 600;
  padding:20px;
}


/************Original Goal Post*****************/
/* for the chart*/
.chartCard {
    width: 60vw;
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    position: relative;
    padding: 0px;
    left: 18.5%;
    bottom: 135px
  }

  .chartBox {
    width: 100%;    
    padding: 20px;
    border-radius: 20px;
    border: solid 3px;
    background: transparent;
  }

  .animate__bounceInLeft {
    animation-duration: 1.5s;
    position: relative;
    left: 0%;
}

.login-page {
background-color: var(--secondary-color);
padding-bottom: 40px;
}

.login-form, .sign-up-form {
  text-align: center;
  margin: auto;
  width: 75%;
  border: 4px solid #5e6654;
  padding: 10px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  border-color: var(--secondary-color);
  background-color: var(--lighter-color);
}

@media screen and (min-width:640px) {
 .login-form, .sign-up-form {
    width: 20%;
  }
}

.user-info{
  text-align: center;
  color: var(--primary-color)
} 

a{
  text-decoration: none;
}

/* .btn-container {
align-items: center;
} */

#create-btn{
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
  background-color: var(--primary-color);
  border: 3px solid var(--tertiary-color);
  /* color: var(--primary-color); */
  font-weight: bold;
  font-size: x-large;
}

.mb-3 {
  /* background-color: var(--tertiary-color); */
  color: var(--primary-color);
}

.btn {
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
}

/*************************************BLOG************************/
.posthome {
  background-color: var(--secondary-color);
}

.post-home{
  margin-left: 20%;
  text-align: center;
  margin-top: 50px;
  border: 2px solid lightslategrey;
  background-color: lightgray;
  width: 60%;
  padding: 5px;
  font-weight: bold;
  font-size: x-large;
}

.post-title {
  color: slategray;
}

.single-post {
  background-color: var(--secondary-color);
}

.mypost {
  background-color: var(--secondary-color);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.hero {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 3% 4%;
  text-align: center;
  border-bottom: 3px solid var(--darker-color);
}

.hero p {
  max-width: 75%;
}

.card {
  /* background-color: var(--secondary-color); */
  margin: 0 0 20px 0;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-color);
}

.card-reader{
  background-color: var(--tertiary-color);
}

.card-header {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  padding: 1%;
}

.card-body {
  padding: 1%;
}

.link {
  color: var(--lighter-color);
}

.link-button {
  color: var(--primary-color);
}

.link-color {
  color: var(--tertiary-color);
  margin: 10px;
  padding: 10px;
}

.post {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 640px) {
.post {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 200px;
  }
}

@media screen and (min-width: 640px) {
  .footer {
    }
  }

@media screen and (min-width:640px) {
  .hero, .header {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  .column-1-small {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  .column-2-small {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  .column-3-small {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  .column-4-small {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  .column-5-small {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  .column-6-small {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  .column-7-small {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  .column-8-small {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  .column-9-small {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  .column-10-small {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  .column-11-small {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  .column-12-small {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 768px) {
  .column-1-medium {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  .column-2-medium {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  .column-3-medium {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  .column-4-medium {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  .column-5-medium {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  .column-6-medium {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  .column-7-medium {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  .column-8-medium {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  .column-9-medium {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  .column-10-medium {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  .column-11-medium {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  .column-12-medium {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 992px) {
  .column-1-large {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  .column-2-large {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  .column-3-large {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  .column-4-large {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  .column-5-large {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  .column-6-large {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  .column-7-large {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  .column-8-large {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  .column-9-large {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  .column-10-large {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  .column-11-large {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  .column-12-large {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 1200px) {
  .column-1-xlarge {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  .column-2-xlarge {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  .column-3-xlarge {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  .column-4-xlarge {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  .column-5-xlarge {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  .column-6-xlarge {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  .column-7-xlarge {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  .column-8-xlarge {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  .column-9-xlarge {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  .column-10-xlarge {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  .column-11-xlarge {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  .column-12-xlarge {
    flex: 0 0 100%;
  }
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

@media screen and (max-width: 726px) {
  .home-container, .footer, body {
width: 100%
  }
}