<link rel="stylesheet" href="/goal-post/public/css/signup.css">
<a href="./main.handlebars" class="home-return"><h1>Home</h1></a>
<div class="card">
        <div class="card-header">
            <h2>Sign Up</h2>
        </div>
        <div id="signup" role="tabpanel">
            <form id="signup-form" class="card-body">
                <div>
                    <label for="username-input-signup">Username</label>
                    <input type="text" id="username-input-signup" />
                </div>
                <div>
                    <label for="password-input-signup">Password</label>
                    <input type="password" id="password-input-signup" />
                </div>
                <button type="submit" id="signup-btn" class="btn">Signup</button>
                <a href="./login.handlebars"><button type="submit" id="login-btn" class="btn">Login</button></a>
            </form>
        </div>
    </div>

    <script src="/public/js/signup.js"></script>

